.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border-bottom: 1px solid #444;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
}

.link {
  margin-right: 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.link:hover {
  color: #ff5722;
}

.left-section{
  display: flex;
}

.button {
  background-color: #ff5722;
  border: none;
  color: white;
  padding: 5px 20px 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  padding-left: 5px;
  
}

.button:hover {
  background-color: #e64a19;
}

a{
  text-decoration: none;
}